// media query
@media (min-width: 768px) {
  .modal-dialog {
    max-width: 700px;
  }
}

@media (min-width: 992px) {
  .only-mobile {
    display: none;
  }
  .px-100 {
    padding: 0 100px;
  }

  .hidden-mobile {
    display: block;
  }

  .navbar-expand-lg {
    .navbar-collapse {
      position: relative;
    }
  }

  .q-row-block {
    .accordion-item {
      flex: 0 0 auto;
      width: calc(50% - 30px);
      margin: 15px;
    }
  }

  .package-card {
    .card-body ul {
      height: 164px;
    }
  }
  footer {
    .content {
      width: 50%;
    }
  }

  .height-vh {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: relative;
    min-height: calc(100vh - 75px);
    z-index: 1;
  }
  .content-w-half {
    width: 70%;
    margin: auto;
  }
  .login-wrapper {
    .content {
      width: 50%;
    }
  }
  .mb-40 {
    margin-bottom: 40px;
  }
  .gallery-details p {
    margin: 40px 0;
  }
  //
  .tab-content {
    padding: 15px 100px;
  }
}
@media (min-width: 1400px) {
  .container {
    position: relative;
  }
}

@media (max-width: 1200px) {
  .navbar {
    .navbar-brand {
      max-width: 100px;
    }

    .nav-item {
      .nav-link {
        font-size: 13px;
      }
    }
  }
  li {
    &.w-submenu {
      ul {
        &.submenu {
          max-width: 115px;
          li.nav-item a.nav-link {
            padding: 0 6px;
          }
        }
      }
    }
  }
  //
  .intro-wrapper {
    .l-grid {
      width: 300px;
    }
  }
  .intro-wrapper {
    .feature-list {
      .feature-box {
        padding: 10px;
        .feature-header {
          h3 {
            font-size: 16px;
            &:after {
              width: 100px;
            }
          }
        }
        .feature-body {
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
  .contact-wrapper {
    .post-image {
      display: none;
    }
  }
  //.card .card-img
  .card .card-img {
    height: 160px;
  }
}

@media (max-width: 991px) {
  .only-mobile {
    display: block !important;
  }

  .hidden-mobile {
    display: none !important;
  }
  .q-row-block {
    margin: 0;
  }
  .accordion-item {
    flex: 0 0 auto;
    width: 100%;
    .accordion-body {
      padding: 10px;
      p {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
  .accordion-button {
    font-size: 13px;
    padding-right: 40px;
    &:before {
      right: 10px;
      top: 10px;
      width: 25px;
      height: 25px;
      line-height: 25px;
    }
    &:after {
      right: 17px;
      top: 16px;
      font-size: 12px;
    }
  }
  //NAVBAR

  //
  .card {
    padding: 10px;
    .card-header {
      h4 {
        font-size: 14px;
      }
      h6 {
        font-size: 16px;
        padding-bottom: 5px;
      }
    }

    .card-body {
      padding: 10px 0;
      ul {
        li {
          font-size: 14px;
        }
      }
      .btn {
        padding: 8px;
        width: auto;
        font-size: 14px;
      }
    }
    .card-img {
      height: 120px;
    }
  }

  .rtl .navbar-nav .nav-item + .nav-item,
  [dir="rtl"] .navbar-nav .nav-item + .nav-item {
    margin-right: 0;
  }

  .navbar-collapse {
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    top: -330px;
    height: 300px;
    width: 100%;
    right: 0;
    z-index: 1000;
    padding: 40px 20px;
    -webkit-transition: all 1s ease-in;
    transition: all 0.8s ease-in;
    overflow-y: scroll;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12);
    // @extend %shadow;

    &.show {
      display: block !important;
      right: 0 !important;
      top: 0;
      -webkit-transition: all 0.8s ease-in;
      transition: all 0.8s ease-in;

      ul.navbar-nav.main-navbar {
        width: 280px;
      }
    }
  }
  .navbar {
    .nav-item {
      .nav-link {
        padding: 10px;
        color: $black-color;
      }
      &:last-child:before {
        display: none;
      }
    }
  }

  //
  .intro-wrapper {
    .r-grid {
      margin-top: 20px;
      .right-top-intro {
        .lg-header {
          font-size: 24px;
        }
        p {
          margin-top: 10px;
          font-size: 16px;
        }
      }
    }
    .l-grid {
      width: 200px;
      top: 60px;
      transform: none;
    }
  }
  //package-card
  .package-card {
    margin-bottom: 20px;
  }

  //.top-steps
  .top-steps {
    width: 90%;
  }
  //
  .bottom-steps {
    .step-wrapper {
      .step-body {
        h3 {
          font-size: 16px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }

  footer {
    li a {
      font-size: 14px;
    }
  }
  .content-w-half {
    width: 100%;
  }
  //LOGIN
  .login-wrapper {
    .center-logo {
      margin: 20px 0;
      text-align: center;
      img {
        width: 150px;
      }
    }
    .content {
      .intro-wrapper-text {
        margin-bottom: 20px;
        h3 {
          font-size: 20px;
          margin-bottom: 10px;
        }
        p {
          font-size: 14px;
        }
      }
    }
    .bottom-link {
      left: 50%;
      transform: translateX(-50%);
      bottom: 20px;
    }
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  .h5,
  h5 {
    font-size: 14px;
  }
  .h3,
  h3 {
    font-size: 15px;
  }
  .full-width-btn {
    width: auto;
  }
  .mb-40 {
    margin-bottom: 20px;
  }
  .btn,
  .btn-main,
  .btn-hover,
  a.bg-main-light {
    height: 42px;
    line-height: 26px;
    padding: 8px 16px;
    font-size: 14px;
  }
  .form-group {
    margin-bottom: 15px;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: start !important;
  }

  .form-control {
    height: 42px;
    font-size: 13px;

    &::placeholder {
      font-size: 13px;
    }
  }

  label,
  .control-label,
  .label {
    font-size: 13px !important;
    line-height: 16px;
  }

  .rtl .custom-select,
  [dir="rtl"] .custom-select {
    background-size: 10px;
    height: 42px;
    font-size: 13px;
  }
  .d-row {
    &.d-flex {
      .form-group {
        &.half-width {
          width: 100%;
          &:nth-child(2n + 1) {
            padding-left: 0;
          }
          &:nth-child(2n) {
            padding-right: 0;
          }
        }
      }
    }
  }
  // .nav-tabs .nav-item:not(:last-of-type) {
  //   margin: 0;
  //   margin-bottom: 20px;
  // }
  //
  .header-wrapper {
    h3 {
      font-size: 16px;
      margin-bottom: 5px;
    }
    p {
      font-size: 14px;
    }
  }
  .intro-wrapper {
    // padding-bottom: 110px;
    .r-grid {
      margin-top: 0px;
      .right-top-intro {
        padding: 0;
        text-align: center;
        .lg-header {
          font-size: 18px;
        }
        p {
          font-size: 12px;
        }
        .btn-main {
          position: absolute;
          top: 120px;
          width: 180px;
          left: 50%;
          transform: translateX(-50%);
          padding: 0;
          height: 42px;
          line-height: 40px;
        }
      }
    }
    .l-grid {
      left: 50%;
      transform: translateX(-50%);
      top: 210px;
    }
  }
  //feature-list
  .feature-list {
    margin-top: 310px;
    .feature-box {
      margin-bottom: 20px;
    }
  }
  //
  .top-steps {
    flex-direction: column;
    position: relative;
    .step-two {
      margin-top: 80px;
    }
    .line-between {
      position: absolute;
      transform: translate(-50%, -50%) rotate(90deg);
      top: calc(50% + 20px);
      left: calc(50% - 50px);
      width: 50px;

      .line-dashed {
        right: 0;
      }
    }
    .arrow-icon {
      left: -13px;
      .fa-angle-double-left:before {
        content: "\f101";
      }
    }
  }
  .bottom-steps .col-xl-3.col-lg-3.col-md-3.col-sm-6:after {
    display: none;
  }
  //
  .contact-wrapper {
    .right-grid {
      form {
        text-align: center;
        margin-bottom: 20px;
      }
    }
  }
  //
  .contact-wrapper .left-grid .address {
    margin-bottom: 10px;
    .text {
      padding-left: 5px;
    }
  }
  footer {
    .footer-logo {
      width: 120px;
    }
    .footer-links-list {
      padding: 20px;
      li {
        &:not(:last-of-type) {
          margin-left: 10px;
        }
        a {
          font-size: 13px;
        }
      }
    }
    .social-links {
      margin-top: 20px;
    }
  }
  .height-vh {
    &.packages-wrapper {
      .row {
        flex-direction: column-reverse;
      }
    }
  }
  .gallery-details {
    text-align: center;
    margin-top: 20px;
    p {
      font-size: 13px;
      line-height: 23px;
    }
  }
  .carousel {
    height: 180px;
  }
  .carousel__slide img {
    height: 180px;
  }
  .main-description {
    .main-title {
      font-size: 15px;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
    .sub-title {
      font-size: 13px;
      margin-bottom: 10px;
    }
  }
  .list-has-icon li {
    font-size: 13px;
  }
  .vertical-tabs {
    .nav-tabs {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      overflow: hidden;
      overflow-x: auto;
      // padding-bottom: 10px;

      &::-webkit-scrollbar {
        height: 4px;
      }
      .nav-item {
        width: 70px;
        &:not(:last-of-type) {
          margin: 0 0 8px 4px;
        }
      }
      .nav-link {
        min-width: 70px;
        text-align: center;
        font-size: 11px;
        line-height: 14px;
        padding: 4px 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 65px;
      }
    }
    .col-sm-12 {
      &:not(:last-of-type) {
        .grid {
          padding: 0;
          margin-bottom: 20px;
          background-color: $white-color !important;
        }
      }
    }

    .tab-content {
      padding: 0;
    }
  }

  .custom-input-group label:after,
  .custom-input-group label:before {
    top: 6px !important;
    right: 0;
    width: 18px;
    height: 18px;
  }
  input-group label:after,
  .main-description .features-list .custom-input-group label:before {
    right: 0;
    top: 2px;
  }
  .accordion-item {
    .custom-input-group label:after,
    .custom-input-group label:before {
      top: 12px !important;
    }
  }
  .custom-input-group input[type="radio"]:checked + label:before,
  .custom-input-group input[type="checkbox"]:checked + label:before {
    width: 18px;
    height: 18px;
  }
  .custom-input-group label,
  .main-description .features-list .control-label {
    padding-right: 25px;
  }
  .btn-200 {
    padding: 8px 16px;
    min-width: 120px;
    font-size: 14px;
  }
  .sub-tab {
    .sm-title h6 {
      font-size: 13px;
      margin-bottom: 5px;
    }
    .back-label {
      font-size: 13px;
    }
  }
  .item-upload {
    margin-bottom: 20px;
  }
  .custom-input-group label {
    padding-left: 4px;
  }
  .wizard-wrapper {
    .card-work {
      .custom-input-group {
        height: 120px;
        label {
          &:after,
          &:before {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
    .nextprevious {
      .btn-link {
        padding: 8px 8px;
        font-size: 13px;
        &.next:after {
          left: -5px;
        }
      }
    }

    #start_btn {
      display: block;
      margin: 10px auto 0;
      text-align: center;
    }
    .steps-progress {
      width: 200px;
      margin: 0 10px;
      .progress {
        margin-bottom: 5px;
      }
    }
    .custom-input-group label:after,
    .custom-input-group label:before {
      top: 12px !important;
      right: 4px;
    }
  }
  .pallet-colors {
    padding: 10px 10px 10px 20px;
    .color {
      width: 26px;
      height: 26px;
    }
  }

  .login-wrapper,
  .questions-wrapper,
  .park-design-wrapper,
  .thanks-wrapper,
  .payment-wrapper {
    .content {
      .intro-wrapper-text {
        h3 {
          font-size: 18px;
          color: $black-color;
        }
        h6 {
          font-size: 14px;
        }
        p {
          font-size: 13px;
          line-height: 23px;
        }
      }
    }
  }
  .payment-wrapper {
    text-align: center;
    .payment-details p {
      font-size: 13px;
      margin-bottom: 10px;
    }
  }
  //
  .col-sm-6 {
    max-width: 50%;
  }
  .wizard-wrapper .card-work {
    max-height: 120px;
    margin-bottom: 20px;
  }
  .profile-wrapper {
    .nav-tabs {
      margin-bottom: 20px;
      .nav-link {
        min-width: auto;
      }
    }
    .tab-content {
      .row {
        .col-xl-3.col-lg-3.col-md-4.col-sm-12 {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .col-xl-3.col-lg-3.col-md-3.col-sm-6 {
    width: 50%;
  }
  .card,
  .package-card,
  .intro-wrapper .feature-list .feature-box {
    padding: 10px;
    width: 280px;
    margin: 0 auto 20px;
  }
  .navbar-collapse {
  }
  .navbar-collapse.show ul.navbar-nav.main-navbar.open {
    width: 250px;
  }
}
